#extra{
		-fx-background-image:  url('../images/other/lay_01.png');
		-fx-background-size: stretch;
		 -fx-background-repeat: no-repeat;
		 -fx-background-position: center;
		 
		  -fx-min-width: 350;
		 -fx-min-height: 750;
		  -fx-max-height: 750;
		  -fx-max-width: 350;
		  
}

#idle{
		 -fx-background-size: auto;
		 -fx-background-repeat: no-repeat;
		 -fx-background-position: center;
		 
		 -fx-min-width: 350;
		-fx-min-height: 400;
		 -fx-max-height: 400;
		 -fx-max-width: 350;
		 
}

#chat{
		-fx-background-image: url('../images/other/lay_01.png'), url('../images/other/line.png');
		 -fx-background-size: stretch, auto;
		 -fx-background-repeat: no-repeat, no-repeat;
		 -fx-background-position: center, bottom;
		 -fx-opacity: 0.3 ;
		 
		 -fx-min-width: 350;
		 -fx-min-height: 150;
		 -fx-max-height: 160;
		 
		 -fx-max-width: 350;
		 
		 -fx-border-style: solid;
		 -fx-border-width: 2px;
	 	 -fx-border-color: grey;
}

#chat_message{
	
		-fx-graphic: url('../images/other/flag.png');
		-fx-font:  9 px;	
		 -fx-min-width: 130;
		 -fx-min-height: 20;
		 -fx-max-height: 20;
		 -fx-max-width: 130;
		-fx-font-style: italic;
		-fx-font-weight: bold;
		-fx-font-family:"serif";
}